.heading {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}

.form_container {
  align-items: center;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  width: 500px;
  height: 550px;
  background-color: #181818;
  border-radius: 15px;
  margin-right: 160px;
}

.left {
  padding-top: 55px;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.from_heading {
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 30px;
}

.input {
  width: 320px;
  height: 35px;
  padding: 5px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #3a3a3a;
  border-radius: 5px;
  font-size: 13px;
  background-color: #181818;
  color: white;
}

.btn {
  width: 230px;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 25px;
  color: white;
  background-color: #89289c;
  border-radius: 5px;
  margin: 10px 0 0 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.01);
  color: #181818;
  background-color: #505050;
}

.text {
  font-size: 14px;
  color: #ffffff84;
  margin: 5px 0;
  padding: 0;
}

.text > a {
  font-size: 16px;
  font-weight: 500;
  color: #43b643;
}

.google_btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  color: #2c444e;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.google_btn:hover {
  transform: scale(1.01);
  color: #43B643;
  background-color: #505050;
}

.AgilixTittle {
  color: #43b643;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

