.ContenedorSearchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    justify-content: flex-end;
}

.SearchBarInput {
    width: 15rem;
    height: 3rem;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-color: #2c2c2c;
    border: none;
    color: white;
}

.SearchBarButton {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 2.3rem;
    background-color: #2c2c2c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 3rem;
}