.ContenedorCard {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}

.ContenedorImg {
    width: 20%;
    height: 100%;
}

.ContenedorInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
    font-size: 1rem;
}

.ContenedorBotones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.btnAgregar {
    border-radius: 10px;
}