.ContenedorCard {
    display: flex;
    flex-direction:column;
    background-color: #181818;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    

}
.Incrementar{
    border-radius:30px ;
    background-color: rgb(255, 187, 0);
    font-size: 17px;
    margin-left:20px ;
}
.Decrementar{
    border-radius:30px ;
    background-color: rgb(255, 187, 0);
    font-size: 17px;
   margin-right: 20px;
}
.Contenedorinpunt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.ContenedorImg {
    width: 20%;
    height: 100%;

}
.img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin-left: 40px;
}
.ContenedorInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45%;
    height: 100%;
    font-size: 1rem;
    margin-left: 50px;
}
.Input{
    color: rgb(255, 255, 255);
    background-color: #3a3939;
    height: 25px;
    width: 35px;
    padding-left: 25px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.2s;
}
.input:focus {
    outline: none;
    border: 2px solid #45b545;
}

.ContenedorBotones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right:1rem;
    
}
.ContenedorBotonStock{
    margin-right: 60px;
   
}

.btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.btnAgregar {
    border-radius: 10px;
    transition: all 200ms linear;
    border: none;
    background-color: #45b545;
    padding: 7px;
    font-weight: 500;
    color: white;
}
.btnAgregar:hover {
    transform: scale(1.05);
    background-color: #4b4b4b;
    color:white;
}