.tittle { 
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
}


.nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px; 
    margin: 0 auto;
}

.telefono {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px; 
    margin: 0 auto;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px; 
    margin: 0 auto;
}

.msjCreado {
    color: #ffffff;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    background-color: #181818;
    color: #f3f4f6;
    width: 450px; 
    height: 450px; 
    padding: 25px; 
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 250px; 
    margin: 0 auto;
}

.buttonCreate {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.buttonCreate:disabled {
    pointer-events: none;
}
   
.buttonCreate:hover {
    color: #45b545;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
   
.buttonCreate:active {
    box-shadow: none;
    transform: translateY(0);
}

.volverClientes{
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.volverClientes:disabled {
    pointer-events: none;
}

.volverClientes:hover {
    color: #882c9b;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
   
.volverClientes:active {
    box-shadow: none;
    transform: translateY(0);
}