.ContenedorCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  width: 91%;
  height: 10rem;
  background-color: #111111;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.ContenedorImagen {
  display: contents;
  margin: 1rem;
  background-color: #111111;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ContenedorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* text-align: left; */
  font-size: 1rem;
}

.Imagen {
  object-fit: contain;
  max-width: 160px;
}

.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
