.contenedorPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contenedorSecundario {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: center;
    height: 80vh;
}

.contenedorPerfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 350px;
    height: 520px;
    border: #4b4b4b solid 3px;
    border-radius: 10px;
    background-color: #000000;
}

.fotoAvatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.divDescripcionSubirFoto {
    background-color: #0E0E0E;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #4b4b4b solid 3px;
    margin-top: 15px;
    height: 100px;
    width: 250px;
}

.descripcionSubirFoto {
    color: #ffff;
}

.contenedorConfigPerfil {
    position: relative;
    display: flex;
    left: 7rem;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    height: 750px;
    border: #4b4b4b solid 3px;
    border-radius: 10px;
    background-color: #000000;

}

.containerInputs {
    position: relative;
    display: flex;
    flex-direction: arrow;
}

.divNombreConfigPerfil {
    position: relative;
    left: 125px;
    display: flex;
    justify-content: initial;
    align-items: center;
    width: 100%;
}

.configuracionPerfil {
    font-size: 50px;
    color: white;

}

.nombreApellido {
    color: white;
    font-size: 35px;
}

.inputsIzquierda {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-right: 60px;
}

.inputsDerecha {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: initial;
    margin-left: 60px;
}

/* .inputsDerecha::after {
    content: "";
    position: absolute;
    top: 0;
    right: -3px; 
    height: 600px;
    bottom: 0;
    width: 3px;
    background-color: #4b4b4b; 
} */
.contenedorContrasena {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.label {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    height: 30px;
    width: 350px;
    font-size: 21px;
    margin-bottom: 30px;
    padding: 0 10px;
    padding-left: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.2s;
    border: 2px solid transparent;
}

.input:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid #45b545;
}

.inputTelefono {
    height: 37px;
    width: 380px;
    padding-left: 60px;
    font-size: 18px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.2s;
    border: 2px solid transparent;
}

.inputTelefono:focus {
    outline: none;
    border: 2px solid #45b545;
}

.containerClass {
    border: none;
    width: 80px;
    height: 35px;
    font-size: 18px;
}

.dropdown {
    border: none;
    box-shadow: none;
    height: 180px;
}

.botonGuardar {
    position: relative;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #45b545;
    color: #FFFFFFDC;
    top: 3.5rem;
    left: 21.3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.botonGuardar:disabled{
    position: relative;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #4b4b4b;
    color: #FFFFFFDC;
    top: 3.5rem;
    left: 21.3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    cursor: not-allowed;
}

.botonGuardar:hover {
    background-color: #3e9e3e;
}
.botonGuardar:disabled:hover{
    background-color: #5b5b5b;
}
.botonDesaparecer{
    display: none;
}

.botonGuardarDisabled {
    position: relative;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #4b4b4b;
    color: #FFFFFFDC;
    top: 3.5rem;
    left: 21.3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    cursor: not-allowed;
}
.botonGuardarDisabled:hover{
    background-color: #5b5b5b;
}

.botonEditar {
    position: relative;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #45b545;
    color: #FFFFFFDC;
    top: 6rem;
    left: 7rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botonEditar:hover {
    background-color: #3e9e3e;
}

.botonCancelar {
    position: relative;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #4b4b4b;
    color: #FFFFFFDC;
    top: 6rem;
    left: 7rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botonCancelar:hover {
    background-color: #5b5b5b;
}

.inputSeleccionarArchivo {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.labelSubirFoto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #45b545;
    color: #FFFFFFDC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.labelSubirFoto:hover {
    background-color: #3e9e3e;
}

.iconView {
    position: absolute;
    margin-top: 45px;
    right: 10px;
    color: #4b4b4b;
    cursor: pointer;
    transition: all 200ms linear;
}

.iconNoView {
    position: absolute;
    cursor: pointer;
    right: 10px;
    color: red;
    margin-top: 45px;
    transition: all 200ms linear;
}

.divIconDeleteImage {
    position: absolute;
    top: 80px;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #ffff;
    border-radius: 50%;
    cursor: pointer;
}

.divIconDeleteImage:hover {
    background-color: #dddddd;
}

.iconDeleteImage {
    color: red;
    cursor: pointer;
}

input[disabled] {
    background-color: #f2f2f2;
    color: #555; 
    cursor: not-allowed; 
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    /* background-color: rgba(0, 0, 0, 0.5);  usen esto si les parece*/  
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    font-size: 25px;
    height: 300px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0E0E0E;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #4b4b4b;
}
.confirmDialogButton{
    position: relative;
    height: 60px;
    width: 260px;
    font-size: 20px;
    background-color: #45b545;
    color: #FFFFFFDC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 30px 16px 2px 10px;
    font-weight: 500;
    font-size: 25px;
}
.confirmDialogButton:hover{
    background-color: #3e9e3e;
}
.confirmDialogButtonGray{
    position: relative;
    height: 62px;
    width: 260px;
    font-size: 20px;
    background-color: #4b4b4b;
    color: #FFFFFFDC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 30px 18px 2px 15px;
    font-weight: 500;
    font-size: 25px;
}
.confirmDialogButtonGray:hover{
    background-color: #5b5b5b;
}

.confirmDialogP{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}
.confirmDialogSpan{
    font-size: 23px;
    margin-bottom: 10px;
}
.contraseñasConciden{
    position: absolute;
    color: #45b545;
    margin-top: 4.9rem;
}
.contraseñasNoConciden{
    position: absolute;
    color: red;
    margin-top: 5rem;
}
