.contenedor {
  display: grid;
  margin-left: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.cards {
  background-color:#2c2c2c;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 10px;
  cursor: pointer;
  margin: 9px;
  width: 500px;
}
.cards:hover {
  transform: scale(1.05);
}
.imagen {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}
.contenedorLetras {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: rgb(248, 248, 248);
  margin-left: 50px;
}
.tittle {
  color: aliceblue;
  background-color: rgb(41, 40, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.selectores {
  color: white;
  width: 150px;
  height: 50px;
  background-color: #2c2c2c;
  border-radius: 10px;
}

.contenedorSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: rgb(248, 248, 248);
  margin-left: 50px;
  margin-right: 50px;
}

.buttonReset {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttonReset:disabled {
  pointer-events: none;
 }
 
 .buttonReset:hover {
  color: #882c9b;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 .buttonReset:active {
  box-shadow: none;
  transform: translateY(0);
 }
 .botonEliminar{
  color: white;
  width: 90px;
  height:40px;
  background-color: #2c2c2c;
  border-radius: 10px;
 }