@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
:root {
  --sidebarColor--: #000000;
  --letraBlanca--: rgba(255, 255, 255, 0.87);
}
.logoAgilix {
  position: relative;
  color: #45b545;
  font-size: 45px;
  transition: all 200ms linear;
}

.logoAgilixReducido {
  position: relative;
  color: #45b545;
  font-size: 40px;
  transition: all 200ms linear;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebarColor--);
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: #4b4b4b solid 3px;
  transition: all 200ms linear;
}
.sidebarReducido {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebarColor--);
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: #4b4b4b solid 3px;
  transition: all 200ms linear;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #4b4b4b;
  width: 250px;
  line-height: 1;
  transition: all 200ms linear;
}
.contenedorReducido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #4b4b4b;
  width: 30px;
  line-height: 1;
  transition: all 200ms linear;
}
.NavLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 225px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--letraBlanca--);
  text-decoration: none;
  transition: all 200ms linear;
}
.contenedor > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: 250px;
  color: #8b8b8b;
  transition: all 200ms linear;
}
.NavLink:hover {
  background-color: #4b4b4b;
}

.contenedorUsuarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  line-height: 1;
  transition: all 200ms linear;
}
.contenedorUsuariosReducido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  transition: all 200ms linear;
}
.contenedorUsuarios > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: 250px;
  color: #8b8b8b;
  transition: all 200ms linear;
}

.botonCerrar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  cursor: pointer;
  background-color: #3e3e3e;
  color: white;
  width: 50px;
  height: 30px;
  margin-left: 230px;
  transition: all 200ms linear;
  border-radius: 5px;

}
.botonCerrar:hover {
  background-color: grey;
  color: white;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 13px;
  transition: all 200ms linear;
}

.botonAbrir {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  cursor: pointer;
  background-color: #45b545;
  color: white;
  width: 49px;
  height: 30px;
  border-radius: 2px;
  transition: all 200ms linear;
}
.botonAbrir:hover {
  background-color: grey;
  color: white;
}


.iconSideBar {
padding-right: 15px;
}
.iconSideBarReducido {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px;
  padding: 12px;
  height: 30px;
  border-radius: 8px;
  color: var(--letraBlanca--);
  text-decoration: none;
  transition: all 200ms linear;
  }