@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
:root{
    --sidebarColor--: #1a1a1a;
    --letraBlanca--: rgba(255, 255, 255, 0.87);
}
.logoAgilix{
    color: #4cbb17;
    font-size: 40px;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sidebarColor--);
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: #4b4b4b solid 3px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #4b4b4b;
    width: 250px;
    line-height: 1;
}
.contenedor > h4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 225px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--letraBlanca--);
}
.contenedor > h5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 250px;
    color: #8b8b8b;
}
.contenedor > h4:hover{
    background-color: #4b4b4b;
}

.contenedorUsuarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    line-height: 1;
}
.contenedorUsuarios > h4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 225px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--letraBlanca--);
}
.contenedorUsuarios > h5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 250px;
    color: #8b8b8b;
}
.contenedorUsuarios > h4:hover{
    background-color: #4b4b4b;
}

.botonCerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    border:0px;
    background-color: #4cbb17;
    color: white;
    width: 30px;
    height: 28px;
    border-radius: 20px;   
}
.botonCerrar:hover{
    background-color: grey;
    color: white;
}

