.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    overflow: hidden;
    margin-left: 400px;
  }
  
  .clienteRow {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    background-color: #1A1A1A;
    border-radius: 0.75rem;
  }
  
  .tituloPrincipal {
    font-weight: bold;
    margin-right: 150px;
    color: #ffffff; 
  }
  
 
  .clienteInfo {
    display: flex;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
  }
  
  .nombreCliente {
    display: flex;
    font-size: 1.2rem;
    color: white;

  }
  
  .telefonoCliente,
  .clienteEmail {
    display: flex;
    font-size: 1rem;
  }
  
.CrearCliente {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.CrearCliente:disabled {
    pointer-events: none;
}
   
.CrearCliente:hover {
    color: #882c9b;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
   
.CrearCliente:active {
    box-shadow: none;
    transform: translateY(0);
}

.buttonContainer {
    padding-right: 550px;
}

.tittle {
  color: aliceblue;
  background-color: rgb(41, 40, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}