.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
.cards{
    background-color: rgb(5, 3, 3);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin: 9px;
}
.imagen{
    width: 200px;
    height:200px;
}
.contenedorLetras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: aliceblue;
    margin-left: 50px;
}
.tittle{
    color: aliceblue;
    background-color: rgb(5, 3, 3);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin: 9px;
    width: 27%;
    margin-left: 35%;
}
